@font-face {
  font-family: montse;
  src: url("../assets/Montserrat-Regular.otf");
}

.AppFormNewMovie {
  max-width: 600px;
  width: 90%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 2px white;
}

.AppFormNewMovie form {
  width: 90%;
}
.AppFormNewMovie label {
  font-weight: bold;
  color: black;
}
.AppFormNewMovie .secuencial-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.AppFormNewMovie input {
  font-family: montse;
  box-shadow: 0 0 2px white;
  border: none;
  border-radius: 5px;
  height: 30px;

  box-sizing: border-box;
  outline: none;
  background-color: rgba(0, 0, 0, 0.103);
  padding: 5px;
}

.AppFormNewMovie div input:focus {
  border: none;
  background-color: rgba(0, 0, 0, 0.103);

  color: #ccc;
  font-weight: bold;
}
.AppFormNewMovie div input::placeholder {
  color: #ccc;
}

.AppFormNewMovie div textarea {
  background-color: rgba(0, 0, 0, 0.103);
  backdrop-filter: blur(2px);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 2px white;
  resize: none;
  box-sizing: border-box;
  font-family: montse;
  outline: none;
  color: #ccc;
}
.AppFormNewMovie div textarea:focus {
  border: none;
  background-color: rgba(0, 0, 0, 0.103);
  font-weight: bold;
}

.form-year::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.intermedial-form div input {
  background-color: rgba(0, 0, 0, 0.103);
  color: #ccc;
}
.intermedial-form div input::placeholder {
  color: #ccc;
}
.intermedial-form {
  margin: 0 auto;
  width: 90%;
  display: flex;

  align-items: center;
  justify-content: space-between;
}
.intermedial-form div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 40%;
}
.intermedial-form div input {
  width: 100%;
}

.btn-submit {
  margin: 0;
  padding: 0 15px;
  margin: 10px;
  border-radius: 5px;
  background-color: #0d6efd;
  border: none;
  color: white;
  font-weight: bold;
  transition: all 0.2s ease;
}

.image {
  display: none;
}
.charge-image {
  border: none;
  box-shadow: 0 0 2px black;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 5px;
  text-align: center;
  transition: all 0.2 ease;
  cursor: pointer;
}
.charge-image:hover {
  background-color: rgba(0, 0, 0, 0.103);
}

.btn-submit:hover {
  background-color: #3586ff;
  box-shadow: 0 0 5px white;
  cursor: pointer;
}
.btn-add {
  background-color: #5a5a5a;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: sticky;
  bottom: 20px;
  left: 20px;
  margin: 20px;
  cursor: pointer;
  transition: background, box-shadow 0.3s ease;
}
.btn-add:hover {
  background-color: #383838;
  box-shadow: 0 0 0 1px #000000;
}

.btn-add a {
  text-decoration: none;
  color: #000000;
}
.btn-add p {
  font-size: 2rem;
}
