.AppMovies{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    width: 200px;
    height: 400px;
    background-color: orange;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-header{
    width: 100px;
    height: 100px;
}
.card-body img{
    width: 100px;
    height: 100px;

}
