body {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: montse;
  src: url("../assets/Montserrat-Regular.otf");
}

.container {
  display: flex;

  margin: 0;

  height: 700px;
}
.header {
  text-align: center;
  font-family: montse;
  color: rgb(250, 149, 33);
}
.content {
  position: sticky;
  top: 0;
  display: flex;
  background-color: white;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.nav {
  
  
  width: 200px;
}
.profile {
  font-family: montse;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 120px;
}
.profile img {
  width: 40px;
  
}

.nav ul {
  margin: 5px;
  padding: 0;

  

}
.nav ul li {
  width: 150px;
  font-family: montse;
  list-style: none;
  background-color: #ccc;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  box-shadow: 0px 0px 2px black;
}
.nav ul li:hover {
  cursor: pointer;
  
    box-shadow: 0 0 2px black;
  
}
.childer-active {
  background-color: orange !important;
}/*
.button-share{
  background-color: blue;
}*/
.front-menu {
  position: absolute;
  top:0 ;
  width: 100%;
  min-height: 1000px;
  
  
}
.button-edit img,
.button-drop img
{
  width: 40px;
  border-radius: 5px;
  background-color:white;
  padding: 5px;
  
}
.signout{
  margin: 15px;
  
}
.signout a{
  font-family: montse;
  text-decoration: none;
  
  background-color: #ccc;
  padding: 5px;
  border-radius: 5px;
  color: black;

  
}

.signout a:hover{
  box-shadow: 0 0 2px black;
}
.profile-container {
  font-family: montse;
  background-color: rgb(255, 223, 164);
  padding: 5px;
  border-radius: 10px;
  margin: 10px;
  min-width: 300px;
}
.movies-container {
  font-family: montse;
  background-color: rgb(255, 223, 164);
  padding: 5px;
  display: flex;
  border-radius: 10px;
  margin: 10px;
  max-height: 50px;
  min-width: 300px;
}

.movies-title{
 
    display: flex;
    margin: 10px;
    color: rgb(250, 149, 33);

    font-family: montse;
    box-shadow: 0 2px 0 rgb(250, 149, 33);

}
.movies-container .movies-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.movies-container .movies-img img {
  width: 50px;
  height: 100%;
  border-radius: 10px 0 0 10px;
}
.movies-container .movies-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.movies-container .movies-content .movies-info{

    font-size: 15px;
    margin: 5px;
    flex-direction: column;
    
}
.movies-container .movies-buttons{
    display: flex;
   
    margin-right: 10px;
}
.movies-container .movies-buttons img {
  width: 25px;
  
 
}
.movies-container .movies-buttons a{
   
   padding: 5px 10px;
   margin: 5px;
    border-radius: 5px;
    background-color: #fff;
   
  
    
}
.movies-container .movies-buttons a:hover{
    cursor: pointer;
    box-shadow: 0 0 2px black;
}