
@font-face {
    font-family: montse;
    src: url("../assets/Montserrat-Regular.otf");
}

.charger{
    display: flex;
    background-color: red;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border: solid 3px green;
    
  }
  .progressbar-container{
    font-family: montse;
    width: 200px;
    height: 200px;
    margin: 100px auto;
  }
  .progressbar-container .outer-box{
    border-radius: 50%;
    background-color: white;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .progressbar-container .inner-box{
   
    font-size: 24px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .progressbar-container svg{
    position: absolute;
    
  }
  .progressbar-container circle{
    fill: none;
    stroke: url(#gradientColor);
    stroke-width: 20px;
    stroke-dasharray: 550;
    stroke-dashoffset: 550;/*
    animation: loading 10s linear forwards;*/
  }
  @keyframes loading{
    100%{stroke-dashoffset: 0;}
  }
  .animation{
    animation: loading 10s linear forwards;
  }
  