@font-face {
  font-family: monse;
  src: url("../assets/Montserrat-Regular.otf");
}

.indexContainer {
  font-family: monse;
  background-color: rgba(97, 97, 97, 0.322);
  backdrop-filter: blur(2px);
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.indexContainer .paquet {
  border: none;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px white;
}
.indexContainer .card {
  background-color: transparent;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 250px;
}
.indexContainer .card-img-top {
  width: 250px;
  height: 330px;
  box-sizing: border-box;
}
.indexContainer .card-header {
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  color: white;
  text-align: center;
  border-radius: 5px 5px 0 0;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.indexContainer .card-body {
  display: none;
  background-color: bisque;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}
.indexContainer .card-body p {
  margin: auto;
  font-size: 9px;

  padding: 15px 0;
}

.indexContainer .card-footer {
  margin: 15px auto;
}
.indexContainer .card-footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
  border: none;
  font-size: 14px;
  border-radius: 5px;
  margin: 5px;
}
.indexContainer .card-footer .btn-delete {
  background-color: rgb(231, 0, 0);
  box-shadow: 0 0 2px white;
}
.indexContainer .card-footer .btn-play {
  background-color: rgb(214, 104, 0);
  box-shadow: 0 0 2px white;
}
.indexContainer .card-footer .btn-download {
  background-color: rgba(15, 170, 79, 0.993);
  box-shadow: 0 0 2px white;
}

.indexContainer .card-footer a:hover {
  transition: all 0.2s ease;
  box-shadow: 0 0 5px white;
}
