body {
  margin: 0;
  padding: 0;

  background: linear-gradient(
    90deg,
    rgb(22, 150, 255) 0%,
    rgb(224, 0, 67) 70%,
    rgb(224, 0, 67) 100%
  );
}
@font-face {
  font-family: monse;
  src: url("../assets/Montserrat-Regular.otf");
}

.navigation {
  font-family: monse;

  width: 100%;
}
.navigation nav {
  display: flex;
  justify-content: space-between;
  background-color: rgba(206, 206, 206, 0.322);

  max-width: 1000px;

  margin: 0 auto;
}
.navigation nav ul {
  display: flex;
  list-style: none;

  padding: 5px;
  border-radius: 10px;
  margin: 10px 10px;
}
.title {
  padding: 5px;
}
.title li {
  margin: auto;
  text-align: center;
  width: 100px;
  background-color: transparent;
}
.title li a {
  text-decoration: none;
  color: #ffff;

  font-size: 20px;

  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
}

.nav-buttons {
  display: block;
  justify-content: space-around;
  align-items: center;

  height: 30px;
}
.nav-buttons li {
  background-color: transparent;
}
.nav-buttons li a {
  text-decoration: none;
  color: white;
  margin: auto;
  padding: 10px;
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 0 0 2px white;
}
.nav-buttons li a:hover {
  background-color: rgb(22, 150, 255);
  transition: all 0.1s ease;
  box-shadow: 0 0 5px rgb(42, 113, 245);
}
