body {
  margin: 0;
  padding: 0;
  min-width: 308px;
  background-color: black;
  color: white;
  
  
}
@font-face {
  font-family: monse;
  src: url("../assets/Montserrat-Regular.otf");
}

.navigation {
  font-family: monse;
  min-width: 308px;
  width: 100%;
  
}
.navigation nav {
  
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.753);
  
  max-width: 1000px;

  margin: 0 auto;
  z-index: 500;
}
.navigation nav ul {
  display: flex;
  list-style: none;
  
  padding: 5px;
  border-radius: 10px;
  margin: 10px 10px;
}
.title {
  padding: 5px;
}
.title li {
  margin: auto;
  text-align: center;
  width: 100px;
  background-color: transparent;
  
}
.title li a {
  text-decoration: none;
  color: #ffff;
  
  font-size: 20px;

  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
}

.nav-buttons {
  display: block;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  height: 30px;
  
}
.nav-buttons li {
  display: flex;

}
.nav-buttons li a {
  text-decoration: none;
  color: white;
  margin: 0 auto;
  padding: 10px;
  
  border-radius: 5px;
  box-shadow: 0 0 2px white;
  transition: all 0.1s ease;
  
  
  
}
.nav-buttons li a:hover {
  background-color: rgb(22, 150, 255);
  box-shadow: 0 0 5px rgb(81, 177, 255);
}
.toastAlert {
 
  position: absolute;
  color: white;
  border-radius: 5px;
  bottom: 20px;
  font-family: monse;
  right: 20px;
  min-width: 140px;
  box-shadow: 0 2px 2px rgb(179, 28, 73);
  text-align: center;
  animation-name: toastAlert;
  animation-duration: 3.5s;
  opacity: 0;
}

.toastAlert p {
  padding: 15px;
  margin: 0;
}
@keyframes toastAlert {
  0% {
    bottom: 150px;
    opacity: 0;
  }
  50% {
    bottom: 20px;
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
  
}
