<link rel="stylesheet" type="text/css" href="/styles/dashboard/partial-files.css" />
<div id="items" class="items">
    <h3>Titulo</h3>
    <div class="card">
        <div class="card-left"></div>
        <div class="card-center"></div>
        <div class="card-right"></div>
    </div>
</div>