
<div id="items" class="items">
    <h3>Usuario</h3>
    <div class="card">
        <div class="card-left">
            <p><b>Usuario:</b> <%- user %></p>
            <p><b>Email:</b> <%- email %></p>
            <p><b>Creado:</b> <%- createdAt %></p>
        </div>
        <div class="card-center"></div>
        <div class="card-right">
            <a href="/users/edit/<%- id %>">
                <img src="./icons/editar.png" />
            </a>
            <a href="#">
                <img src="./icons/basura.png" />
            </a>
        </div>
    </div>

</div>