<%- include("./partials/AppHead"); %>
    <link rel="stylesheet" type="text/css" href="/styles/AppFormNewFile.css" />
    <section class="form-container">
        <form action="new-file" enctype="multipart/form-data" method="POST">
          <div class="secuencial-container">
            <label for="title">Nombre del archivo</label>
            <input
              autofocus
              type="text"
              required
              name="title"
              id="title"
            />
          </div>
          <div class="secuencial-container">
            <label for="files" class="charge-image">Archivo</label>
            <input type="file" class="image" name="files" id="files" />
          </div>
          <input type="submit" value="Guardar" class="btn-submit" />
        </form>
      </section>
    <a class="btn-add" href="/files/new-file"><p>+</p></a>
<%- include("./partials/AppFooter"); %>

