<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add drop</title>
    <link rel="stylesheet" href="/styles/navigation.css" />
    <link rel="stylesheet" href="/styles/form-container.css" />
    <link rel="icon" href="/icons/boton-inicio.png">
  </head>
  <body>
    <header><%- include("./partials/navigation") %></header>

    <section class="form-container">
      <form action="new-file" enctype="multipart/form-data" method="POST">
        <div class="secuencial-container">
          <label for="title">Nombre del archivo</label>
          <input
            autofocus
            type="text"
            required
            name="title"
            id="title"
            placeholder="Nombre de Archivo"
          />
        </div>

        <div class="secuencial-container">
          <label for="files" class="charge-image">Archivo</label>
          <input type="file" class="image" name="files" id="files" />
        </div>

        <input type="submit" value="Guardar" class="btn-submit" />
        <input type="button" value="Charge" class="btn-submit" onClick="renderCharge()" id="btnCharger"/>
      </form>
    </section>
    <div id="chargePage">
      <%- include("./partials/loading") %>
    </div>
    <%- include("./partials/footer"); %>
    
  </body>
  <script>
    const $chargePage = document.getElementById("chargePage")
   

  </script>
  
</html>
