<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signin</title>
    <link rel="stylesheet" href="/styles/navigation.css" />
    <link rel="stylesheet" href="/styles/form-container.css" />
    <link rel="stylesheet" href="/styles/signin.css" />
    <link rel="icon" href="/icons/boton-inicio.png">
  </head>
  <body>
    <header><%- include("./partials/navigation"); %></header>
    <section class="form-container">
      <form action="signin" method="POST">
        <div class="secuencial-container">
          <label for="user">Nombre de usuario</label>
          <input
            autofocus
            type="text"
            required
            name="user"
            id="user"
            placeholder="usuario"
          />
        </div>

        <div class="secuencial-container">
          <label for="password">Contraseña</label>
          <input
            type="password"
            required
            name="password"
            id="password"
            placeholder="contraseña"
          />
        </div>

        <input type="submit" value="Inicia sesión" class="btn-submit" />

        <div class="secuencial-container">
          <p>¿Aún no tienes una cuenta?</p>
          <a class="redirect-signup" href="/signup">Crear una cuenta</a>
        </div>
      </form>
    </section>
    
      <%if(nav.alert){%>
        <%if(nav.color === "red"){%>
          <div style="background-color: red" class="toastAlert">
            <p><%- nav.alert %></p>
          </div>
        <% } %>
        <%if(nav.color === "green"){%>
          <div style="background-color: rgb(15, 160, 39)" class="toastAlert">
            <p><%- nav.alert %></p>
          </div>
        <% } %>
      <% } %>
    
  </body>
</html>
