<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Server</title>
    <link rel="stylesheet" type="text/css" href="/styles/App.css" />
</head>
<body>
    <header>
        <div>
            <a>
                <h2><%- user %></h2>
            </a>
        </div>
        <div><a href="/movies">
                <h3>Películas</h3>
            </a>
            <a href="/files">
                <h3>Archivos</h3>
            </a>
        </div>
    </header>
    <main>