<link rel="stylesheet" href="/styles/footer.css" />
<div class="footer-container">
  <ul>
    <li><a href="/files" class="footer-files">Archivos</a></li>
    <li><a href="/movies" class="footer-movies">Películas</a></li>
  </ul>
</div>
