<div class="navigation">
  <nav>
    <ul class="title">
      <li><a href="/">Inicio</a></li>
    </ul>
    <ul class="nav-buttons">
      <li><a href="<%- nav.link %>"><%- nav.add %></a></li>
    </ul>
  </nav>
</div>
