<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="/styles/alerts/alert.css" />
    
</head>

<body>
    <section class="container">
        <div class="alert">
            <h3>No estás autorizado</h3>
            <a href="/signin">Ingresar</a>
        </div>

    </section>
</body>

</html>